<%- include("partials/header") %>



<div class = "container">
	


    <div class="jumbotron">
      <h1>Welcome to yelpCamp!</h1>
      <p>view our campgrounds from all over the world</p>
	  <p><a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new campground</a></p>
    </div>

    <div class = "row" style = "display: flex; flex-wrap: wrap;">
		 <% campgrounds.forEach(function(campground){ %>
			<div class = "col-sm-6 col-md-3">
			<div class = "thumbnail">
    	         <img src = "<%= campground.image %>">    
			     <h4 class = "text-center caption"><%= campground.name %></h4>   
				<p>
					<a class ="btn btn-primary text-center" href = "#">More info</a>
				</p>
            </div>
		</div>
         <% }); %>
	</div>
   

	
</div>
<%- include("partials/footer") %>
